/*
* Custom translucent site header
*/

//$navbg: rgba(255, 255, 255, .85);
$navbg: rgba(255, 255, 255, 0.15);

@media(prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media (prefers-color-scheme: dark) {
  $navbg: rgba(0, 0, 0, 0.15);
}

.nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  top: 0;
  right: 300px;
  left: 300px;
  @media screen and (max-width: 400px){
    right: 22px;
    left: 21px;
  }
  z-index: 1030;

  animation: nav-in ease .7s;
  background-color: $navbg;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 25px;


  a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }


  ul {
    li:before {
      content: "";
    }
  }

  .nav__wrapper {
    display: block;
    width: 100%;
  }


  .nav__list {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
  }

  .nav__list-item {
    padding: 0 1rem;
  }

  .nav__list-link {
    position: relative;
    display: block;
    padding: .5rem 0;
    color: var(--color-primary);
    font-size: .9em;
    font-weight: 700;
    letter-spacing: .02em;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      height: 2px;
      width: 0;
      background: var(--color-primary);
      will-change: width;
      transition: .2s ease;
    }

    &:hover,
    &:focus {
      &:after {
        width: 100%;
      }
    }
  }

  .nav__list-btn-tokens {
    font-size: .9em;
    border: 0;
    background: none;
    padding: .55rem .5rem;
    opacity: .8;
    cursor: pointer;
    will-change: opacity;
    transition: .2s ease;

    svg {
      margin: 0;
      display: block;
      width: 1em;
      height: 1em;

      path {
        fill: var(--color-text);
      }
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .theme-toggler {
    display: inline-flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    label {
      margin: 0 12px;
    }
  }

  @media screen and (min-width: 768px) {
    //.nav {
    //  position: absolute;
    //  top: 2rem;
    //  right: 0;
    //  padding-top: 0;
    //}

    .nav__list-item {
      padding: 0 2rem;
    }

    .nav__list-link {
      font-size: 1em !important;
      padding: 1rem 0 !important;
    }

    .nav__list-btn-tokens {
      font-size: 1em;
      padding: 1rem 1rem;
    }
  }

  @media screen and (min-width: 992px) {
    //.nav {
    //  top: 3rem;
    //  right: 1rem;
    //}
  }

  @keyframes nav-in {
    from {
      opacity: 0;
      transform: translateX(-2rem);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}