@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@include default.all;
@include variable.all;

html { font-family: "Inter", "system-ui"; }

@supports (font-variation-settings: normal) {
  html { font-family: "Inter var", "system-ui"; }
}

:root {
  --color-primary: #676767;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Inter", "system-ui", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
  background-color: #ecf0f1 !important;
  background-color: #fcfcfc !important;
}

// @media (prefers-color-scheme: dark) {
//   body {
//     background: #1f2023 !important;
//   }
// }

@media(prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.btn {
  text-transform: uppercase !important;
}

.card, .fieldset {
  background-color: transparent !important;
}

.collapse {
  &-group {
    padding: 0 !important;
  }
}
.dot {
  .label {
    text-transform: uppercase !important;
  }
}

table {
  min-width: 650px;
}

.separator {
  width: 100%;
  border: 0px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(226, 229, 236), rgba(0, 0, 0, 0));
  margin: 2em 0px;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: rgba(1, 1, 1, .4) !important;
  }
}
// header {
//   position: absolute;
//   box-shadow: 0 2px 4px rgb(0 0 0 / 2%), inset 0 -1px 0 rgb(0 0 0 / 6%);
//   background-color: rgb(255 255 255 / .85);
//   backdrop-filter: blur(12px);
// }

main {
  // padding: 5rem 0;
  padding: 1rem 0 120px !important;
  height: auto!important;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer:not(#geist-ui-modal footer) {
  display: block!important;
  position: relative !important;
  margin-top: 40px !important;
  padding: 2rem 0 !important;
  //border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  .footnote {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @media (max-width: 600px) {
      display: block;
    }
  }

  .flex {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  p {
    display: block;
  }

  .justify-content-space-between {
    justify-content: space-between;
  }

  .social {
    span {
      display: inline-flex;

      a {
        margin: 0px 8px !important;
      }
    }
  }
}

h4.jsx-2019007676 {
  display: grid;
  padding: 6px 18px;

  span {
    /* display: inline-grid; */
  }
}

%headingMP0 {
  margin: 0;
  padding: 0;
}

h1 {
  @extend %headingMP0;

  @media screen and (min-width: 768px) {
    font-size: 3em;
  }
}

h2 {
  @extend %headingMP0;

  @media screen and (min-width: 768px) {
    font-size: 2.75em;
  }
}

h3 {
  @extend %headingMP0;

  @media screen and (min-width: 768px) {
    font-size: 2.5em;
  }
}
h4 {
  @extend %headingMP0;

  @media screen and (min-width: 768px) {
    font-size: 2.25em;
  }
}

h5 {
  @extend %headingMP0;

  @media screen and (min-width: 768px) {
    font-size: 2em;
  }
}

h6 {
  @extend %headingMP0;

  @media screen and (min-width: 768px) {
    font-size: 1.75em;
  }
}

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

@mixin flex($property) {
  -webkit-box-flex: $property;
          -ms-flex: $property;
              flex: $property;
}

%shadow {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.stocks-list, .favourites-list {
  margin-top: 5px;

  .card {
    position: relative;
    border-radius: 24px;
    // border: 1px solid #eceeee !important;
    background-color: #eceeee;
    background-image: linear-gradient(45deg,#0072ff,#00d2e8 17%,#04fd8f 34%,#70fd6c 51%,#dae11e 68%,#ff9346 85%,#ff62c6);
    background-color: #1f2023!important;

    box-shadow:
                0px 0.3px 1.2px rgba(0, 0, 0, 0.006),
                0px 0.7px 2.7px rgba(0, 0, 0, 0.009),
                0px 1.2px 4.6px rgba(0, 0, 0, 0.011),
                0px 1.8px 6.9px rgba(0, 0, 0, 0.013),
                0px 2.6px 10px rgba(0, 0, 0, 0.015),
                0px 3.7px 14.2px rgba(0, 0, 0, 0.017),
                0px 5.3px 20.1px rgba(0, 0, 0, 0.019),
                0px 7.7px 29.2px rgba(0, 0, 0, 0.021),
                0px 11.8px 45px rgba(0, 0, 0, 0.024),
                0px 21px 80px rgba(0, 0, 0, 0.03);
    box-shadow: none !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px 0 !important;
    margin: 4em 0 0 0;
    top: 0;
    width: 330px;
    height: 430px;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;

    &:nth-child(2) {
      margin: 0 50px;
    }

    &:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    /*
     * Custom translucent tickertape card
     */
    background-color: rgba(236, 238, 238, .85) !important;
    backdrop-filter: saturate(180%) blur(20px);

    a {
      color: #8e8e8e;
      transition: color .15s ease-in-out;

      &:hover {
        color: #fff;
        text-decoration: none;
      }

    }

    .vertical {
      margin: 0 10px;
      align-items: start;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-start;
      
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }

      h2.symbol {
        font-size: 65px;
        line-height: 65px;
      }
      h6.name {
        font-size: 15px;
      }
      h5.high, h5.low {
        font-size: 25px;
      }
    }

    h3 {
      font-size: 2em;
    }

    h4 {
      font-size: 3em;
    }
  }

  .card {
    @include flex(300px);
    margin: 20px;
    border-radius: 24px;
    // border: 2px solid #c3c6ce;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
    &:hover {
      @extend %shadow;
      border-color: #008bf8;
      .card--hover {
        opacity: 1;
        a {
          @extend %shadow;
          @include transform(translate(-50%, 50%));
          opacity: 1;
        }
      }
    }
    &--hover {
      padding: 60px 0;
      text-align: center;
      opacity: 0.6;
      transition: 0.25s ease;
      h3 {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
      }
      p {
        margin: 10px 0 0;
      }
      a {
        @include transform(translate(-50%, 125%));
        border-radius: 20px;
        background-color: #008bf8;
        color: #fff;
        padding: 8px 16px;
        display: inline-block;
        text-decoration: none;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.25s ease;
      }
    }
    &.card--dark {
      background-color: #1a1a1a;
      border-color: #1a1a1a;
      .card--hover {
        color: #fff;
      }
      a {
        background-color: #7FEFBD;
        color: #1a1a1a;
      }
    }
  }

  .green {
    background-color: #7fffd4 !important;
    color: #008d8d !important;
    /* color: #f8f8ff; */
  }
  .red {
    background-color: #ff7f7f !important;
    color: #8d0000 !important;
  }
}

// .container {
//   max-width: 960px;
// }

/* go on then, styles go here.. knock yourself out! */

/* go on then, styles go here.. knock yourself out! */

@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@keyframes panning {
  0%{
    transform: translateX(-25%) translateY(-25%);
  }
  20% {
    width: 250%;
    transform: translateX(0) translateY(-50%);
  }
  40% {
    width: 230%;
    transform: translateX(-25%) translateY(-50%);
  }
  60% {
    width: 210%;
    transform: translateX(-50%) translateY(-25%);
  }
  70% {   
    width: 240%;
    transform: translateX(-25%) translateY(-25%);    
  }
  80% {
    width: 220%;
    transform: translateX(-25%) translateY(-50%);    
  }
  100% {
    width: 210%;
    transform: translateX(-25%) translateY(-25%);     
  }
}

@keyframes slideFadeDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.profile-card {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 80px auto;
  padding-top: 20%;
  overflow: hidden;
  font-size: 14px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 1px rgba(#222, .5);
  transition: box-shadow 1s;
}

header {
  a {
    @include absolute(0, 0, 0, 0);
    display: block;
    z-index: 8;
    overflow: hidden;
    border-radius: 10px;
    line-height: 0;
    img {
      @include absolute(0, auto, auto, 0);
      width: 210%;
      z-index: 3;
      line-height: 0;
      animation: panning 50s infinite;
    }
    &:before {
      content: "";
      @include absolute(0, 0, 0, 0);
      z-index: 4;
      background-color: rgba(#2c3e50, .5);
      transition: background-color 1s;
    };
  }
  h1, h2 {
    @include absolute(40%, 0, auto, 0);
    z-index: 10;
    color: white;
    font-family: Oswald;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  h1 {
    font-size: 2em;
    line-height: 1em;
    letter-spacing: .04em;
    &:after {
      content: "";
      display: block;
      width: 50%;
      height: 1px;
      margin: 2px auto;
      background-color: white;
    }
  }
  h2 {
    top: 50%;    
    font-weight: 300;
    line-height: 1em;
    letter-spacing: .22em;
    animation: slideFadeDown .5s;
  }
}

.profile-bio {
  p {
    @include absolute(55%, 0, auto, 0);
    z-index: 12;
    padding: 0 30px;
    color: white;
    font-family: Source Code Pro;
    line-height: 1.2em;
    text-align: center;
    transform: translateX(100%) translateY(-50%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
}

.profile-social-links {
  @include absolute(40%, 0, auto, 0);
  z-index: 12;
  text-align: center;
  opacity: 0;
  transform: translateX(100%) translateY(-50%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860), opacity 1.5s;
  li {
    display: inline-block;
    padding: 0 10px;
    img {
      display: block;
      width: 100%;
      max-width: 40px;
      filter: grayscale(100%);
      transition: transform .5s, filter 5s;
      &:hover {
        filter: grayscale(0);
        transform: scale(1.2);
      }
    }
    &:nth-child(3) img {
      filter: invert(60%);
      &:hover {
        filter: invert(0);
      }
    }
    
  }
  
}

.profile-card:hover {
  box-shadow: 0 0 20px rgba(#222, .3);
  header a:before {
    background-color: rgba(#2c3e50, .8);
  }
  h1,h2 {
    transform: translateX(-100%);
  }
  .profile-bio p, .profile-social-links {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}